  <ion-view view-title="login" name="login-view">
   <ion-content class="padding">
    <div class="universallogin">
      <div class="main-container">
        <div class="logo">
            <div class="inear">
                <img src="images/logo-white.png">
            </div>
        </div>
        <div class="form">
            <div class="inear">
                <ul>
                    <li><input type="text" placeholder="Your Username" ng-model="data.username"></li>
                    <li><input type="password" placeholder="Your Password" ng-model="data.password"></li>
                    <li>
                        <div class="submit-btnn">
                            <a ng-click="login()">Login to your OSMO account</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
      </div>
    </div>
   </ion-content>
  </ion-view>


