
  <ion-view view-title="" name="home-view">
   <ion-content class="padding">
  <div class="home">
    <div class="main-container">
        <div class="header">
            <div>
                <img src="images/logo.png">
            </div>
            <div>
                <h2>OSMO Telecalling</h2>
            </div>
        </div>
        <div class="equal-btn first">
            <a ng-click="duty()"><div>Login</div><i class="fa fa-angle-right"></i></a>
        </div>
        <div class="equal-btn second">
            <a ng-click="detail()"><div>Call</div><i class="fa fa-angle-right"></i></a>
        </div>
        <div class="equal-btn third">
            <a ng-click="reportinv()"><div>Reports</div><i class="fa fa-angle-right"></i></a>
        </div>
        <div class="equal-btn fourt">
            <a ng-click="search()"><div>Search</div><i class="fa fa-angle-right"></i></a>
        </div>
     </div>
    </div>

   </ion-content>
  </ion-view>



